﻿@model FizzBuzz.Web.Models.FizzBuzzModel
@using Microsoft.AspNetCore.Html;
@using FizzBuzz.Web.Helper;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewBag.Title = "Index";
}
<h2>FizzBuzzApplication</h2>

@using (Html.BeginForm("Index", "FizzBuzz", FormMethod.Post))
{
    @Html.LabelFor(model => model.Number)
    @Html.TextBoxFor(model => model.Number)
    @Html.ValidationMessageFor(model => model.Number)
    <input type="submit" value="submit" />
}
<div>
    @if (Model != null && Model.Result != null)
    {
        foreach (var i in Model.Result)
        {
            @Html.RenderTicTacList(i) <br />
        }
    }
</div>
<div class="X.PagedList">
    @if (Model != null && Model.Result != null)
    {
        @Html.PagedListPager(Model.Result, page => Url.Action("GetNextPage", "FizzBuzz", new { Number = Model.Number, page }))
    }
</div>